.parent-newitem {
  height: 350px;
}
.content-div {
  height: 100%;
}
.img-newitem {
  height: 80%;
}
@media (min-width: 768px) {
  .imaimg-newitemge {
    width: 50vw;
  }
}

@media (max-width: 767px) {
  .img-newitem {
    width: 100vw;
  }
}
